* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: bold;

  color: rgb(0, 0, 0);

  background-image: url(https://images.pexels.com/photos/7676306/pexels-photo-7676306.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  min-height: 400px;
  min-width: 450px;
}

button {
  font-size: 24px;
  font-family: "Futura Lt BT", sans-serif;

  color: white;
  background-color: black;
  background-repeat: no-repeat;

  cursor: pointer;
  overflow: hidden;
  outline: none;

  padding: 8px 20px 8px 20px;
  margin: 30px 0;
  
  box-shadow: 0px 0px 5px gray;

  border-radius: 5px 5px 0 0;
  border: none;

  transition: 500ms;
  opacity: 0.8;
}

button:hover {
  color: white;
  background-color: gray;
}

button:active {
  color: black;
  background-color: white;
}

.lista {
  padding: 20px;
  list-style-type: none;
  border: 4mm ridge rgba(234, 122, 11, 0.992);
}

.alura-logo {
  position: absolute;

  top: 2%;
  right: 2%;
  width: 150px;
}

[data-cor="laranja"] {
  color: orange;
}

[data-cor="vermelho"] {
  color: red;
}

[data-cor="branco"] {
  color: white;
}

[data-cor="amarelo"] {
  color: yellow;
}

[data-cor="rosa"] {
  color: pink;
}

[data-cor="preto"] {
  color: black;
}